*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --dark-color: #000;
}

body {
    min-height: 100vh;
    background-color: var(--dark-color);
    overflow: hidden;
}

.night {
    position: fixed;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    filter: blur(0.1vmin);
    background-image: radial-gradient(ellipse at top, transparent 0%, var(--dark-color)),
                    radial-gradient(ellipse at bottom, var(--dark-color), rgba(145, 233, 255, 0.2));
}

.title {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    text-shadow: 0 0 20px white;
    letter-spacing: 0px;
}

@media (min-width: 500px) {
    .title {
        letter-spacing: 20px;
    }
}

.title span {
    opacity: 0;
    animation: typing 1s ease forwards;
    animation-delay: var(--delay);
}

@keyframes typing {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.btn {
    border: none;
    width: 15em;
    height: 5em;
    border-radius: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background: #1C1A1C;
    cursor: pointer;
    transition: all 450ms ease-in-out;
    text-decoration: none;
}

.sparkle {
    fill: #AAAAAA;
    transition: all 800ms ease;
}

.text {
    font-weight: 600;
    color: #AAAAAA;
    font-size: medium;
}

.btn:hover {
    background: linear-gradient(0deg, #A47CF3, #683FEA);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
                inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
                0px 0px 0px 4px rgba(255, 255, 255, 0.2),
                0px 0px 180px 0px #9917FF;
    transform: translateY(-2px);
}

.btn:hover .text {
    color: white;
}

.btn:hover .sparkle {
    fill: white;
    transform: scale(1.2);
}